.iframe-dialog__iframe,
.iframe-dialog__dialog {
  padding: 0;
  margin: 0;
  border: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.iframe-dialog__iframe {
  width: 100vw;
  height: 100vh;
}

.iframe-dialog__dialog--shadow {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
